In [1]:
import numpy as np
import pandas as pd

# Load the data files and change the column names if needed

In [2]:
raw_content_data = pd.read_csv('Content.csv',index_col=0)
raw_content_data

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...
995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [3]:
raw_content_data.columns=['Content_ID', 'User_ID', 'Content_type', 'Category', 'URL']
raw_content_data

,Content_ID,User_ID,Content_type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...
995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [4]:
raw_reaction_data = pd.read_csv('Reactions.csv',index_col=0)
raw_reaction_data

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [5]:
raw_reaction_data.columns=['Content_ID', 'User_ID', 'Reaction_type', 'DateTime']
raw_reaction_data

,Content_ID,User_ID,Reaction_type,DateTime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [6]:
raw_reaction_type_data = pd.read_csv('ReactionTypes.csv',index_col=0)
raw_reaction_type_data

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

In [7]:
raw_reaction_type_data.columns=['Reaction_type', 'Sentiment', 'Score']
raw_reaction_type_data

   Reaction_type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

# Task1) removing columns which are not relevant to this task.
# Task2) changing the data type of some values within a column, and
# Task 3) removing rows that have values which are missing
## Think about how each column might be relevant to the business question you’re investigating. If you can’t think of why a column may be useful, it may not be worth including it.

# Task1 Removing columns which are not relevant to this task.

In [8]:
content_data_rc = raw_content_data.copy()
content_data_rc = content_data_rc.drop(['URL','User_ID'], axis=1)
reaction_data_rc = raw_reaction_data.copy()
reaction_data_rc=reaction_data_rc.drop(['User_ID'],axis=1)
reaction_type_data_rc = raw_reaction_type_data.copy()

In [9]:
content_data_rc

                               Content_ID Content_type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       technology

[1000 rows x 3 columns]

In [10]:
reaction_data_rc

                                 Content_ID Reaction_type             DateTime
0      97522e57-d9ab-4bd6-97bf-c24d952602d2           NaN  2021-04-22 15:17:15
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
...                                     ...           ...                  ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued  2021-02-16 17:17:02
25550  75d6b589-7fae-4a6d-b0d0-752845150e56    interested  2020-09-12 03:54:58
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish  2021-01-04 04:55:11

[25553 rows x 3 columns]

# Task2) Change the data type of some values within a column

In [11]:
content_data_cd = content_data_rc.copy()
reaction_data_cd= reaction_data_rc.copy()
reaction_type_data_cd = reaction_type_data_rc.copy()

### There are some values in Category column from the content dataset which have quotation marks and those should be removed because the names should be the same for each category so that it will count the scores later correctly

In [12]:
# Find the ones with quotation marks and remove them
for i in range(content_data_cd.shape[0]):
    if content_data_cd['Category'][i].find('\"') == 0:
        content_data_cd['Category'][i] = content_data_cd['Category'][i].replace('"', '')
        
# if it's printed something other than -1, that means that still has quotation mark.
for i in range(content_data_cd.shape[0]):
    print(content_data_cd['Category'][i].find('\"'))

-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

# Task3) Removing rows that have values which are missing

In [13]:
content_data_rr = content_data_cd.copy()
reaction_data_rr = reaction_data_cd.copy()
reaction_type_data_rr = reaction_type_data_cd.copy()

## 1) Check the total number of raw data sets

In [14]:
print(content_data_rr.shape)
print('number of raw content data:', content_data_rr.shape[0] )

print(reaction_data_rr.shape)
print('number of raw reaction data:', reaction_data_rr.shape[0] )

print(reaction_type_data_rr.shape)
print('number of raw content data:', reaction_type_data_rr.shape[0] )

(1000, 3)
number of raw content data: 1000
(25553, 3)
number of raw reaction data: 25553
(16, 3)
number of raw content data: 16

## 2) Check how many missing values there are for each data set (Just to make sure and to have a look at which columns have missing values

In [15]:
content_columns = content_data_rr.columns.values
reaction_columns = reaction_data_rr.columns.values
reaction_type_columns = reaction_type_data_rr.columns.values

In [16]:
for i in range(len(content_columns)):
    print('The column ', content_columns[i], ' in the content dataset has ', raw_content_data[content_columns[i]].isnull().sum(), ' missing values')
print('\n')    
for i in range(len(reaction_columns)):
    print('The column ', reaction_columns[i], 'in the reaction dataset has ', raw_reaction_data[reaction_columns[i]].isnull().sum(), ' missing values')
print('\n')    
for i in range(len(reaction_type_columns)):
    print('The column ', reaction_type_columns[i], ' in the reaction type dataset has ', raw_reaction_type_data[reaction_type_columns[i]].isnull().sum(), ' missing values')
print('\n')

The column  Content_ID  in the content dataset has  0  missing values
The column  Content_type  in the content dataset has  0  missing values
The column  Category  in the content dataset has  0  missing values


The column  Content_ID in the reaction dataset has  0  missing values
The column  Reaction_type in the reaction dataset has  980  missing values
The column  DateTime in the reaction dataset has  0  missing values


The column  Reaction_type  in the reaction type dataset has  0  missing values
The column  Sentiment  in the reaction type dataset has  0  missing values
The column  Score  in the reaction type dataset has  0  missing values

## 3) Remove the rows with missing values
## In content dataset: no rows with missing values
## In reaction dataset: rows with missing values in the User ID and Type columns
## In reaction type dataset: no rows with missing values

In [17]:
content_data_rr = content_data_rr.dropna(axis=0)

for i in range(len(content_columns)):
    print('The column ', content_columns[i], ' in the content dataset has ', content_data_rr[content_columns[i]].isnull().sum(), ' missing values')

The column  Content_ID  in the content dataset has  0  missing values
The column  Content_type  in the content dataset has  0  missing values
The column  Category  in the content dataset has  0  missing values

In [18]:
reaction_data_rr = reaction_data_rr.dropna(axis=0)

for i in range(len(reaction_columns)):
    print('The column ', reaction_columns[i], 'in the reaction dataset has ', reaction_data_rr[reaction_columns[i]].isnull().sum(), ' missing values')

The column  Content_ID in the reaction dataset has  0  missing values
The column  Reaction_type in the reaction dataset has  0  missing values
The column  DateTime in the reaction dataset has  0  missing values

In [19]:
reaction_type_data_rr = reaction_type_data_rr

In [20]:
print(content_data_rr.shape)
print('number of content data:', content_data_rr.shape[0] )

print(reaction_data_rr.shape)
print('number of reaction data:', reaction_data_rr.shape[0] )

print(reaction_type_data_rr.shape)
print('number of content data:', reaction_type_data_rr.shape[0] )

(1000, 3)
number of content data: 1000
(24573, 3)
number of reaction data: 24573
(16, 3)
number of content data: 16

In [21]:
final_content_data=content_data_rr.copy()
final_reaction_data=reaction_data_rr.copy()
final_reaction_type_data=reaction_type_data_rr.copy()

## Save the final datasets into new csv files

In [22]:
final_content_data.to_csv('final_content_data.csv',index=False,header=True)
final_reaction_data.to_csv('final_reaction_data.csv',index=False,header=True)
final_reaction_type_data.to_csv('final_reaction_type_data.csv',index=False,header=True)

In [23]:
final_content_data

                               Content_ID Content_type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       technology

[1000 rows x 3 columns]

In [24]:
final_reaction_data

                                 Content_ID Reaction_type             DateTime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
...                                     ...           ...                  ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued  2021-02-16 17:17:02
25550  75d6b589-7fae-4a6d-b0d0-752845150e56    interested  2020-09-12 03:54:58
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish  2021-01-04 04:55:11

[24573 rows x 3 columns]

In [25]:
final_reaction_type_data

   Reaction_type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12